*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Defines what 1rem is
    // 1rem = 10px
    font-size: 62.5%;

    @include respond(tab-land) {
        // width < 1200px?
        // 1 rem = 9px, 9/16 = 56.25%
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        // width < 900px?
        // 1 rem = 8px, 8/16 = 50%
        font-size: 50%;
    }

    @include respond(phone) {
        // width < 600px?
        // 1 rem = 4.8px, 4.8/16 = 30%
        font-size: 30%;
    }

    @include respond(big-desktop) {
        // width > 1800px?
        // 1 rem = 12px, 12/16 = 75%
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
}
